<div class="ui mini form">
  <h4 class="ui dividing header"> <a class="ui blue ribbon label">Allocation of Provisions</a></h4>
  <div class="field">
    <div class="grouped fields">
      <div class="ui tiny form">
        <div class="inline fields">
          <label>District *</label>
          <div class="two wide field">
            <select class="ui tiny search dropdown">
              <option value="EH"></option>
              <option value="EH"></option>
              <option value="EH"></option>
              <option value="EH"></option>
            </select>
          </div>
          <label style="margin-left: 5%">Divisional Secreariat *</label>
          <div class="two wide field">
            <select class="ui tiny search dropdown">
              <option value="EH"></option>
              <option value="EH"></option>
              <option value="EH"></option>
              <option value="EH"></option>
            </select>
          </div>
          <label style="margin-left: 5%">Year *</label>
          <div class="three wide field">
            <input type="text" placeholder="Div. Secretariat">
          </div>
        </div>
        <div style="width: 80%;">
          <table class="ui single line table">
            <thead>
            <tr>
              <th>#</th>
              <th style="text-align: center">Allocation ID</th>
              <th style="text-align: center">Description</th>
              <th style="text-align: center">Allocation Amount</th>
            </tr>
            </thead>
            <tbody style="height: 5px; overflow-y: scroll">
            <tr>
              <td>1</td>
              <td>319-95-5-0-1501-1</td>
              <td>Public and Disease Aids</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>2</td>
              <td>319-95-5-0-1501-2</td>
              <td>Catastrophic Aids</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>3</td>
              <td>319-95-5-0-1501-3</td>
              <td>Rehabilitation Aids</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>4</td>
              <td>319-95-5-0-1501-4</td>
              <td>Housing Aids</td>
              <td><input type="text"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="field" style="padding-left: 60%">
        <button class="ui inverted green button">Edit</button>
        <button class="ui inverted red button">Delete</button>
        <button class="ui inverted primary  button">Save</button>
      </div>
    </div>
  </div>
</div>
