<div class="ui secondary  menu" style="background-color: #1B1C1D">
  <a class="item ui violet circular label" style="width: 19.2%;" >
    <i class="home icon"></i>
    Social Welfare
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      <button class="ui inverted violet button">LOGOUT</button>
    </a>
  </div>
</div>
