<div class="ui mini form">
  <h4 class="ui dividing header"> <a class="ui blue  ribbon label">Voluntary Organizations Information</a></h4>
  <div class="two wide fields">
    <div class="field">
      <div class="grouped fields">
        <div class="ui tiny form">
          <div class="inline fields">
            <label style="width: 18%">Date *</label>
            <div class="twelve wide field">
              <input type="date" placeholder="Date">
            </div>
          </div>
          <div class="inline fields">
            <label style="width: 18%">Number *</label>
            <div class="twelve wide field">
              <input type="text" placeholder="Number">
            </div>
          </div>
          <div class="inline fields">
            <label style="width: 18%">Reg. Number *</label>
            <div class="twelve wide field">
              <input type="text" placeholder="Reg. Number">
            </div>
          </div>
          <div class="inline fields">
            <label style="width: 18%">Type *</label>
            <div class="twelve wide field">
              <select class="ui search dropdown">
                <option value="EH">Western Sahara</option>
                <option value="EH">Western Sahara</option>
                <option value="EH">Western Sahara</option>
                <option value="EH">Western Sahara</option>
              </select>
            </div>
          </div>
          <div class="inline fields">
            <label style="width: 18%">Name *</label>
            <div class="twelve wide field">
              <input type="text" placeholder="Name">
            </div>
          </div>
          <div class="inline fields">
            <label style="width: 18%">Address *</label>
            <div class="twelve wide field">
              <textarea rows="3"></textarea>
            </div>
          </div>
          <div class="inline fields">
            <label style="width: 18%">Purpose *</label>
            <div class="twelve wide field">
              <textarea rows="2"></textarea>
            </div>
          </div>
          <div class="inline fields">
            <label style="width: 18%">Place Registration *</label>
            <div class="twelve wide field">
              <input type="text" placeholder="Place Registration">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="field" style="margin-right: 15%">
      <div class="ui tiny form">
        <div class="inline fields">
          <label style="width: 20%">Date Of Registration *</label>
          <div class="eight wide field">
            <input type="date" placeholder="Date Of Registration">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Telephone Number*</label>
          <div class="eight wide field">
            <input type="text" placeholder="Telephone Number">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Name of Chairperson *</label>
          <div class="eight wide field">
            <input type="text" placeholder="Name of Chairperson">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Address *</label>
          <div class="eight wide field">
            <textarea rows="3"></textarea>
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">District *</label>
          <div class="eight wide field">
            <input type="text" placeholder="District">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Div. Secretariat *</label>
          <div class="eight wide field">
            <input type="text" placeholder="Div. Secretariat">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">GN Division *</label>
          <div class="eight wide field">
            <select class="ui search dropdown">
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
            </select>
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">GND Code *</label>
          <div class="eight wide field">
            <input type="text" placeholder="GND Code">
          </div>
        </div>
      </div>
      <div class="field" style="padding-left: 25%">
        <button class="ui inverted green button">Edit</button>
        <button class="ui inverted red button">Delete</button>
        <button class="ui inverted primary  button">Save</button>
      </div>
    </div>
  </div>
</div>
