<div class="ui mini form">
  <h4 class="ui dividing header"> <a class="ui blue  ribbon label">Monthly Report Two</a></h4>
  <div class="inline fields">
    <label>District *</label>
    <div class="two wide field">
      <select class="ui tiny search dropdown">
        <option value="EH"></option>
        <option value="EH"></option>
        <option value="EH"></option>
        <option value="EH"></option>
      </select>
    </div>
    <label style="margin-left: 13%">Divisional Secretariat *</label>
    <div class="two wide field">
      <select class="ui tiny search dropdown">
        <option value="EH"></option>
        <option value="EH"></option>
        <option value="EH"></option>
        <option value="EH"></option>
      </select>
    </div>
    <label style="margin-left: 13%">Date *</label>
    <div class="two wide field">
      <input type="date" placeholder="">
    </div>
  </div>
  <div class="ui mini form">
    <div class="inline fields">
      <label style="width: 3%">Date *</label>
      <div class="two wide field">
        <select class="ui tiny search dropdown">
          <option value="EH"></option>
          <option value="EH"></option>
          <option value="EH"></option>
          <option value="EH"></option>
        </select>
      </div>
    </div>
  </div>
  <div style="width: 80%;">
    <table class="ui single line table">
      <thead>
      <tr>
        <th>#</th>
        <th style="text-align: center">Allocation ID</th>
        <th style="text-align: center">Description</th>
        <th style="text-align: center">Received Amount</th>
        <th style="text-align: center">Balance</th>
        <th style="text-align: center">Extra Allocation</th>
        <th style="text-align: center">Return Allocation</th>
        <th style="text-align: center">Total Allocation</th>
      </tr>
      </thead>
      <tbody style="height: 5px; overflow-y: scroll">
      <tr>
        <td>1</td>
        <td>319-95-5-0-1501-1</td>
        <td>Public and Disease Aids</td>
        <td>1000000.00</td>
        <td>1000000.00</td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>2</td>
        <td>319-95-5-0-1501-2</td>
        <td>Catastrophic Aids</td>
        <td>500000.00</td>
        <td>500000.00</td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>3</td>
        <td>319-95-5-0-1501-3</td>
        <td>Rehabilitation Aids</td>
        <td>100000.00</td>
        <td>100000.00</td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>4</td>
        <td>319-95-5-0-1501-4</td>
        <td>Housing Aids</td>
        <td>500000.00</td>
        <td>500000.00</td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
