<div class="ui bottom attached segment pushable">
  <div class="ui visible inverted left vertical sidebar menu">
    <a class="item">
      <i class="home icon"></i>
      Dashboard
    </a>
    <a class="item" routerLink="personal">
      <i class="block layout icon"></i>
      Personal Information
    </a>
    <a class="item" routerLink="gramaNiladhariDivision">
      <i class="smile icon"></i>
      Grama Niladhari Division
    </a>
    <a class="item" routerLink="monthlyPaymentReport">
      <i class="calendar icon"></i>
      Monthly Payment Report
    </a>
    <a class="item" routerLink="adharaLabhinReport">
      <i class="calendar icon"></i>
      Adhara Labhin Report
    </a>
    <a class="item" routerLink="districtReport">
      <i class="calendar icon"></i>
      District Report
    </a>
  </div>
  <div class="pusher">
    <div class="ui basic segment">
<router-outlet></router-outlet>
    </div>
  </div>
</div>

