<style>
  .profile-image {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  /** {*/
  /*box-sizing: border-box;*/
  /*}*/

  /*body {*/
  /*font-family: Arial;*/
  /*font-size: 17px;*/
  /*}*/

  /*.container {*/
  /*position: relative;*/
  /*max-width: 800px;*/
  /*margin: 0 auto;*/
  /*}*/

  /*.container img {vertical-align: middle;}*/

  /*.container .content {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*background-image: url("../../../bg7.jpg");*/
  /*!*background: rgb(0, 0, 0); !* Fallback color *!*!*/
  /*!*background: rgba(0, 0, 0, 0.5); !* Black background with 0.5 opacity *!*!*/
  /*color: #f1f1f1;*/
  /*width: 19%;*/
  /*padding: 20px;*/
  /*}*/
</style>
<div class="ui bottom attached segment pushable">
  <div class="ui visible inverted left vertical sidebar menu contentm" style="background-image: url(../../assets/s.jpg)">
    <a class="item">
      <i class="home icon"></i>
      Dashboard
    </a>
    <a class="item" routerLink="personal">
      <i class="block layout icon"></i>
      Personal Information
    </a>
    <a class="item" routerLink="gramaNiladhariDivision">
      <i class="smile icon"></i>
      Grama Niladhari Division
    </a>
    <a class="item" routerLink="monthlyPaymentReport">
      <i class="suitcase icon"></i>
      Monthly Payment Report
    </a>
    <a class="item" routerLink="adharaLabhinReport">
      <i class="industry icon"></i>
      Adhara Labhin Report
    </a>
    <a class="item" routerLink="districtReport">
      <i class="industry icon"></i>
      District Report
    </a>
    <a class="item" routerLink="disabledElders">
      <i class="file alternate icon"></i>
      Disabled Elders
    </a>
    <a class="item" routerLink="voluntaryOrganizations">
      <i class="clone icon"></i>
      Voluntary Organizations Information
    </a>
    <a class="item" routerLink="divisionalSecretariat">
      <i class="file alternate icon"></i>
      Divisional Secretariat Select
    </a>
    <a class="item" routerLink="allocationOfProvisions">
      <i class="archive icon"></i>
      Allocation Of Provisions
    </a>
    <a class="item" routerLink="monthlyReport">
      <i class="calendar icon"></i>
      Monthly Report
    </a>
    <a class="item" routerLink="monthlyReportTwo">
      <i class="th list icon"></i>
      Monthly Report Two
    </a>
    <a class="item" routerLink="monthlyReportThree">
      <i class="th list icon"></i>
      Monthly Report Three
    </a>
    <a class="item" routerLink="monthlyReportFour">
      <i class="th list icon"></i>
      Monthly Report Four
    </a>
    <a class="item" routerLink="monthlyReportFive">
      <i class="th list icon"></i>
      Monthly Report Five
    </a>
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
