<div class="ui mini form">
  <h4 class="ui dividing header"><a class="ui blue ribbon label">Personal Information</a></h4>
  <div class="two wide fields">
    <div class="field">
      <div class="inline fields ui segment">
        <label style="padding-bottom: 6%">Person Type *</label>
        <div class="grouped fields" style="padding-left:2%">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="frequency" checked="checked">
              <label style="font-size: small">General</label>
            </div>
          </div>
          <div class="field ">
            <div class="ui radio checkbox">
              <input type="radio" name="frequency">
              <label style="font-size: small">Elderly / Disabled</label>
            </div>
          </div>
        </div>
        <div class="inline fields">
          <div class="grouped fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="frequency" checked="checked">
                <label style="font-size: small">Before 18 Years Disabled</label>
              </div>
            </div>
            <div class="field ">
              <div class="ui radio checkbox">
                <input type="radio" name="frequency">
                <label style="font-size: small">Over 18 Years Disabled</label>
              </div>
            </div>
          </div>
        </div>
        <div class="inline fields">
          <div class="grouped fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="frequency" checked="checked">
                <label style="font-size: small">Elderly</label>
              </div>
            </div>
            <div class="field ">
              <div class="ui radio checkbox">
                <input type="radio" name="frequency">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inline fields ui segment" style="height: 12%">
        <label style="padding-bottom: 8%">If Disable Type Disability *</label>
        <div class="inline fields">
          <div class="grouped fields">
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="frequency" checked="checked">
                <label style="font-size: small">Blind</label>
              </div>
            </div>
            <div class="field ">
              <div class="ui checkbox">
                <input type="checkbox" name="frequency">
                <label style="font-size: small">Deaf</label>
              </div>
            </div>
          </div>
          <div class="inline fields">
            <div class="grouped fields">
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="frequency" checked="checked">
                  <label style="font-size: small">Dump</label>
                </div>
              </div>
              <div class="field ">
                <div class="ui checkbox">
                  <input type="checkbox" name="frequency">
                  <label style="font-size: small">Physical</label>
                </div>
              </div>
            </div>
          </div>
          <div class="inline fields">
            <div class="grouped fields">
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="frequency" checked="checked">
                  <label style="font-size: small;">Mental Disorder</label>
                </div>
              </div>
              <div class="field ">
                <div class="ui checkbox">
                  <input type="checkbox" name="frequency">
                  <label style="font-size: small">Other</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grouped fields ui segment">
        <div class="ui mini form">
          <div class="inline fields">
            <label style="width: 18%">Date *</label>
            <div class="twelve wide field">
              <input type="text" placeholder="Date">
            </div>
          </div>
          <div class="inline fields">
            <label style="width: 18%">Number *</label>
            <div class="twelve wide field">
              <input type="text" placeholder="Number">
            </div>
          </div>
          <div class="inline fields">
            <label style="width: 18%">Reg. Number *</label>
            <div class="twelve wide field">
              <input type="text" placeholder="Reg. Number">
            </div>
          </div>
          <div class="inline fields">
            <label style="padding-bottom: 16%; width: 11%">Aid Type *</label>
            <div class="grouped fields" style="padding-left:2%">
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency" checked="checked">
                  <label style="font-size: small">Public Assistant</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency">
                  <label style="font-size: small">Aids for Cancer</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency">
                  <label style="font-size: small">Casual Aids</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency">
                  <label style="font-size: small">Aids for TB</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency">
                  <label style="font-size: small">Other</label>
                </div>
              </div>
            </div>
            <div class="inline fields">
              <div class="grouped fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="frequency" checked="checked">
                    <label style="font-size: small">Aida for Self Employment</label>
                  </div>
                </div>
                <div class="field ">
                  <div class="ui radio checkbox">
                    <input type="radio" name="frequency">
                    <label style="font-size: small">Aids for Leprosies</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="frequency" checked="checked">
                    <label style="font-size: small">Aids for Thalassemia</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="frequency" checked="checked">
                    <label style="font-size: small">Housing Aids</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="frequency" checked="checked">
                    <label style="font-size: small">None</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="inline fields">
            <div class="twelve wide field">
              <label style="width: 40%">Title *</label>
              <select class="ui search dropdown">
                <option value="EH">Western Sahara</option>
                <option value="EH">Western Sahara</option>
                <option value="EH">Western Sahara</option>
                <option value="EH">Western Sahara</option>
              </select>
            </div>
            <label>(Mr/Ms/Mrs)</label>
          </div>
          <div class="inline fields">
            <label style="width: 18%">Address *</label>
            <div class="twelve wide field">
              <textarea rows="2"></textarea>
            </div>
          </div>
          <div class="inline fields">
            <div class="twelve wide field">
              <label style="width: 18%">Gender *</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency" checked="checked">
                  <label>Male</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency" checked="checked">
                  <label>Female</label>
                </div>
              </div>
            </div>
          </div>
          <div class="inline fields">
            <label style="width: 18%">NIC/EIC/DIC Number*</label>
            <div class="twelve wide field">
              <input type="text" placeholder="NIC/EIC/DIC Number">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="field ui segment" style="margin-right: 15%">
      <div class="ui mini form">
        <div class="inline fields">
          <label style="width: 20%">Date of Birth*</label>
          <div class="eight wide field">
            <input type="text" placeholder="(xx)(xx)(xxxx)">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Age*</label>
          <div class="two wide field">
            <input type="text" placeholder="(xxx)">
          </div>
          <label>Year</label>
          <div class="two wide field">
            <input type="text" placeholder="(xx)">
          </div>
          <label>Months</label>
          <div class="two wide field">
            <input type="text" placeholder="(xx)">
          </div>
          <label>Day</label>
        </div>
        <div class="inline fields">
          <label style="width: 20%">District*</label>
          <div class="eight wide field">
            <input type="text" placeholder="District">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Div. Secretariat *</label>
          <div class="eight wide field">
            <input type="text" placeholder="Div. Secretariat">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Div. Secretariat *</label>
          <div class="eight wide field">
            <input type="text" placeholder="Div. Secretariat">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">GN Division *</label>
          <div class="eight wide field">
            <select class="ui search dropdown">
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
            </select>
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">GND Code *</label>
          <div class="eight wide field">
            <input type="text" placeholder="GND Code">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Incoming Level(Monthly) *</label>
          <div class="eight wide field">
            <select class="ui search dropdown">
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
            </select>
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Title *</label>
          <div class="eight wide field">
            <select class="ui search dropdown">
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
            </select>
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Name of Guardian *</label>
          <div class="eight wide field">
            <input type="text" placeholder="Name of Guardian">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Amount*</label>
          <div class="eight wide field">
            <input type="text" placeholder="Amount">
          </div>
        </div>
        <div class="inline fields">
          <label style="width: 20%">Method of Donation *</label>
          <div class="eight wide field">
            <select class="ui search dropdown">
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
              <option value="EH">Western Sahara</option>
            </select>
          </div>
          <label style="width: 20%">Cash/Postal/Cheque</label>
        </div>
      </div>
      <div class="field" style="padding-left: 25%">
        <button class="ui inverted green button">Edit</button>
        <button class="ui inverted red button">Delete</button>
        <button class="ui inverted primary  button">Save</button>
      </div>
    </div>
  </div>
</div>
